/* variables */



/* defaults  */

body{
    background-image: url("../images/mountain\ 2.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


img,
video{
    max-width: 100%;
}


/*  header */

header{
    background-color: RGBA(120, 70, 20, 0.0);
    padding: 50px;
}

.header-text{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* footer */


/* sections */
section{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 50px;
    padding: 20px;
}

.intro {
    background-color: pink;
}

@media screen and (min-width: 1000px) {

    .intro{
        background-color: yellow;
    }
}

.content {
    background-color: lightcoral;
}

.final {
    background-color: RGBA(210, 67, 89, 0.5);

}