/* variables */



/* defaults  */

body{
    background-color: RGB(242, 235, 224);
    font-family: Helvetica, sans-serif;
    color: white;
}


img,
video{
    max-width: 100%;
}


/*  header */

header{
    background-color: RGB(242, 235, 224);
    padding: 50px;
}

.header-text{
    color: black;
    font-size: 100px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* footer */


/* sections */
section{
    border-width: 10px;
    border-color: white;
    border-style: solid;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
}

.intro{
        background-color: RGB(115, 198, 157);
    }

.content {
    background-color: RGB(239, 75, 75);
}

.final {
    background-color: RGB(210, 67, 89);
}
